@charset "UTF-8";

html {
  scroll-padding-top: 3.5rem;
}

header {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

body {
  background-color: lavenderblush;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: lavenderblush;
}

section#flash-messages {
   position: absolute;
    top: 50%;  
    left: 50%; 

    transform: translate(-50%, -50%);
    height: 20px;
    text-align: center;
    margin: 5px 5px;
    background: none;
}

.flashes h4 {
  line-height: 2;
  background-color: #4cc6df
}

.btn-md {
  margin: 5px
}

#submitbtn, #cancelbtn {
  text-align: center;
}