{% extends "base.html" %}
{% block recipes %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-5 text-center">
        <h1 class="fw-bolder">Add A Recipe</h1>
    </div>
</header>

<div class="container px-5 my-5">
    <!-- Add recipe form -->
    <form id="contactForm" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="form-floating mb-3">
            <!-- Recipe Name -->
            <input class="form-control" id="recipe_name" name="recipe_name" type="text" placeholder="Recipe Name" maxlength="20" required/>
            <label for="recipe_name">Recipe Name</label>
            <div class="invalid-feedback" data-sb-feedback="recipeName:required">Recipe Name is required.</div>
        </div>
        <div class="form-floating mb-3">
            <!-- Recipe Description -->
            <textarea class="form-control" id="recipe_description" name="recipe_description" type="text" placeholder="Recipe Description" style="height: 10rem;" required></textarea>
            <label for="recipe_description">Recipe Description</label>
            <div class="invalid-feedback" data-sb-feedback="recipeDescription:required">Recipe Description is required.</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-floating mb-3">
                    <!-- Type of cuisine selection -->
                    <select class="form-select" id="cuisine_type" name="cuisine_type" required>
                        {% for cuisine in cuisines %}
                            <option value="{{ cuisine.cuisine_type }}">{{ cuisine.cuisine_type }}</option>
                        {% endfor %}
                    </select>
                    <label for="cuisine_type">Type of Cuisine</label>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-floating mb-3">
                    <!-- Recipe_difficulty (easy, Medium, Hard) -->
                    <select class="form-select" id="recipe_difficulty" name="recipe_difficulty" required>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    <label for="recipe_difficulty">Cooking Difficulty</label>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-floating mb-3">
                    <!-- Preperation time (Mins) -->
                    <input class="form-control" id="prep_time" name="prep_time" type="text" placeholder="Prep-Time (mins)" required/>
                    <label for="prep_time">Prep-Time (mins)</label>
                    <div class="invalid-feedback" data-sb-feedback="prepTimeMins:required">Prep-Time (mins) is required.</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-floating mb-3">
                    <!-- Cooking time (Mins) -->
                    <input class="form-control" id="cook_time" name="cook_time" type="text" placeholder="Cook-Time (mins)" required/>
                    <label for="cook_time">Cook-Time (mins)</label>
                    <div class="invalid-feedback" data-sb-feedback="cookTimeMins:required">Cook-Time (mins) is required.</div>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <!-- Ingredients With Quantities -->
            <textarea class="form-control" id="ingredients" name="ingredients" type="text" placeholder="Ingredients With Quantities " style="height: 5rem;" data-sb-validations="required"></textarea>
            <label for="ingredients">Ingredients With Quantities</label>
            <div class="invalid-feedback" data-sb-feedback="ingredientsWithQuantities:required">Ingredients With Quantities is required.</div>
        </div>
        <div class="form-floating mb-3">
            <!-- Cooking method -->
            <textarea class="form-control" id="method" name="method" type="text" placeholder="Method" style="height: 10rem;" required></textarea>
            <label for="method">Method</label>
        </div>
        <div class="d-grid">
            <!-- Submit Button -->
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}