{% extends "base.html" %}
{% block register %}

<section id="register">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card border-0 rounded-3 shadow-lg">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="h1 fw-light">Log In</div>
                            <p class="mb-4 text-muted">Log in to view your own recipes and share with the community</p>
                        </div>


                        <!-- Registration Form -->
                        <form id="contactForm" method="POST" action="{{ url_for('login') }}" >

                            <!-- Name Input -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" name="username" type="text" minlength="5"
                                 maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Username" required/>
                                <label for="username">Username</label>
                                <div class="invalid-feedback">Name is required.
                                </div>
                            </div>
                            <!-- Password Input -->
                            <div class="form-floating mb-3">
                                <input type="password" minlength="5" maxlength="15" class="form-control"
                                 name="password" id="password" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                            <!-- Registration Button -->
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Log In</button>
                            </div>

                        </form>
                    </div>

                    <div class="row">
                        <div class="col lg-8">
                            <p class="text-center">
                                New here?
                                <a href="{{ url_for('register')}}">Register Here</a>
                            </p>
                        </div>
                    </div>
                </div>
</section>

{% endblock %}